#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --ion-background-color: #E9ECEC;
}

.image-footer {
  height: 10vh !important;
  width: auto !important;
  align-items: center;
}

.custom-divider {
  border-top: 1.5px solid #bbb;
}

.card-title {
  text-align: start;
  padding-left: 10%;
}

.list-tickets {
  padding: 0.5rem;
}

.btn {
  height: 1rem;
  font-size: 0.8rem;
}

.body-text {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
