

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--border-width: 0px;">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-back-outline" color="danger"></ion-icon>
          <ion-text color="dark">Volver</ion-text>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
   <ion-card color="light">
     <ion-card-title>
       Tickets
     </ion-card-title>
   </ion-card>
  </div>
</ion-content>
