

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar style="--border-width: 0px;">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="chevron-back-outline" color="danger"></ion-icon>
          <ion-text color="dark">Volver</ion-text>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <div id="container">
   <ion-card color="light">
     <ion-card-title>
       Tickets
     </ion-card-title>
     <ion-card-content>
       <ion-list>
         <ion-item color="light">
         </ion-item>
         <ion-item color="light">
          <ion-label>
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
              <h4 slot="start">De: Usuario</h4>
              <h4 slot="end">Enviado: 25/24</h4>
            </div>
          </ion-label>
         </ion-item>
       </ion-list>
     </ion-card-content>
   </ion-card>
  </div>
  
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-img src="assets/tienda.png" style="width: 300px;"></ion-img>
  </ion-toolbar>
</ion-footer>